# Node dependency directories
node_modules/
**/node_modules/

# Local environment configuration
.env
**/.env
backend/.env

# Logs and system files
*.log
.DS_Store

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
